.container {
    background-color: var(--background);
    display: flex;
    justify-content: center;
    margin-bottom: 1px solid #707070;
    padding: 1rem 0;

    .header {
        max-width: 80rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}