.container {
    position: sticky;
    top: 0;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    margin-bottom: 1px solid #707070;
    padding: 1rem;
    border-bottom: 1px solid #0000001a;

    [data-theme="dark"] & {
        border-color: #262626;
    }

    .header {
        position: relative;
        max-width: 80rem;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;

        &> :nth-child(1) {
            justify-self: start;
        }

        &> :nth-child(2) {
            justify-self: center;
        }

        &> :nth-child(3) {
            justify-self: end;
        }
    }
}