.dropdown {
    color: #fff;

    .user {
        border-bottom: 1px solid rgba(212, 165, 116, 0.2);
        padding: 1rem;

        p {
            word-break: break-word;
        }

        p:nth-of-type(1) {
            font-size: 1rem;
            font-weight: 600;
        }

        p:nth-of-type(2) {
            font-size: 0.813rem;
            color: var(--muted-foreground);
        }
    }

    .links,
    .logout {
        cursor: pointer;

        a,
        button {
            padding: 1rem;
            display: flex;
            gap: 0.8rem;
            align-items: center;
            font-size: 0.813rem;

            svg {
                height: 1rem;
            }
        }

        &:hover {
            background: rgba(212, 165, 116, 0.1019607843)
        }
    }

    .links {
        border-bottom: 1px solid rgba(212, 165, 116, 0.2);

        a {
            text-decoration: none;
            color: #fff;

            svg {
                color: var(--earth-brown);
            }
        }
    }

    .logout {
        button {
            cursor: pointer;
            width: 100%;
            background-color: transparent;
            border: unset;
            color: #e74c3c;

            svg {
                color: inherit;
            }
        }
    }

    @media (min-width: 1025px) {
        position: absolute;
        z-index: 10;
        top: 55px;
        right: 0;
        background-color: #211c17;
        width: 14rem;
        border: 1px solid rgba(212, 165, 116, 0.2);
        border-radius: 1rem;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
            0 2px 4px -2px rgba(0, 0, 0, 0.1);

        &[data-state="open"] {
            animation: fadeIn 0.15s ease-out;
        }

        &[data-state="closed"] {
            animation: fadeOut 0.15s ease-in;
            animation-fill-mode: forwards;
            pointer-events: none;
        }
    }

    @media (max-width: 1024px) {
        order: 1;
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        height: 40%;

        &>span {
            font-size: 0.8rem;
            color: var(--muted-foreground);
            font-weight: 600;
        }

        .user {
            background-color: #2a251f;
            border-radius: 1rem;
            border: unset;
        }

        .links,
        .logout {
            border: unset;

            &:hover {
                border-radius: 1rem;
            }
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}