@use "/src/styles/globalStyle.scss" as *;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background);

    .explore {
        @include containerDefault;
    }
}