* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif !important;
}

#root {
    position: relative;
}

main {
    min-height: 70dvh;
}

body {
    height: 100%;
    min-height: 100vh;
    background: var(--body-background);
    color: var(--active-font-color);
}

input::placeholder,
textarea::placeholder {
    color: #aaa;
}

input:focus,
textarea:focus {
    outline: none;
}

a {
    text-decoration: none;
}

@mixin containerDefault {
    max-width: 80rem;
    width: 100%;
}

.errorDefault {
    width: 100%;
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 0.3rem;
    border-radius: 5px;
}

.order-2 {
    order: 2;
}