:root {
    --background: #fff;
    --primary: #fff;
    --secondary: #000;
    // --active-background: #fff;
    // --active-font-color: #000;
    // --background-body: rgb(131, 131, 131);
    // --body-background: linear-gradient(87deg, rgba(131, 131, 131, 1) 0%, rgba(193, 193, 193, 1) 38%, rgba(251, 251, 251, 1) 100%);
    // --gradient: radial-gradient(circle farthest-corner at 10% 20%, rgba(253, 203, 50, 1) 0%, rgba(244, 56, 98, 1) 100.2%);
}

[data-theme="dark"] {
    --background: #1a1512;
    --primary: #000;
    --secondary: #fff;
    // --active-background: #000;
    // --active-font-color: #fff;
    // --background-body: rgb(0, 0, 0);
    // --body-background: linear-gradient(87deg, rgba(0, 0, 0, 1) 0%, rgba(70, 70, 70, 1) 48%, rgba(116, 116, 116, 1) 100%);
    // --gradient: linear-gradient(109.8deg, rgba(62, 5, 116, 1) -5.2%, rgba(41, 14, 151, 1) -5.2%, rgba(216, 68, 148, 1) 103.3%);
}