.logo {
    display: flex;
    align-items: center;

    a {
        display: flex;
        align-items: center;
        gap: 0.4rem;

        .icon {
            position: relative;
            width: 2.688rem;
            height: 2.688rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0.9rem;
            background: var(--warm-orange);

            span {
                position: absolute;
                top: 0;
                right: 0;
                transform: translate(35%, -35%);
                width: 0.90rem;
                height: 0.90rem;
                background-color: #22c55e;
                border-radius: 100%;
                border: 2px solid var(--primary);
                animation: fadeInOut 3s infinite
            }

            svg {
                width: 1.3rem;
                height: 1.3rem;
            }
        }

        .title {
            display: flex;
            flex-direction: column;

            span {
                color: var(--warm-orange);
            }

            span:first-child {
                font-weight: 700;
                font-size: 1.125rem;
            }

            span:last-child {
                font-size: 0.688rem;
            }
        }
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}