.container {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #00000080;
    display: flex;
    justify-content: flex-end;
    z-index: 10;

    &[data-state="open"] {
        .menu {
            animation: slideInRight 0.4s ease-out forwards;
        }
    }

    &[data-state="close"] {
        pointer-events: none;
        animation: fadeOut 0.4s forwards;

        .menu {
            animation: slideOutRight 0.4s ease-out forwards;
        }
    }

    .menu {
        background: var(--background);
        width: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem 1rem;

        .nav {
            .close {
                display: flex;
                justify-content: space-between;
                margin-bottom: 3rem;

                span {
                    color: var(--warm-orange);
                    font-weight: 600;
                }

                button {
                    cursor: pointer;
                    background-color: transparent;
                    border: unset;
                    color: #fff;
                    font-weight: 600;
                    padding: 0 1rem;
                }
            }
        }
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideOutRight {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}