.actions {
    display: flex;
    gap: 1rem;

    .switch {
        display: flex;
        align-items: center;
        gap: 0.4rem;
        background-color: #2a251f7f;
        border-radius: 1rem;
        padding: 0.5rem 0.5rem;

        svg {
            height: 1rem;
            width: 1rem;
        }

        svg:nth-of-type(1) {
            color: var(--warm-orange);
        }

        svg:nth-of-type(2) {
            color: var(--earth-brown);
        }

        .wrapper {
            position: relative;
            display: inline-flex;
            align-items: center;
            height: 1.15rem;
            width: 2.5rem;
            border-radius: 9999px;
            border: 1px solid transparent;
            transition: all 0.2s ease;
            outline: none;
            cursor: pointer;
        }

        .on {
            background-color: var(--earth-brown);

            .circle {
                background-color: var(--primary);
                transform: translateX(calc(145% - 2px));
            }
        }

        .off {
            background-color: #cbced4;

            .circle {
                transform: translateX(0);
                background-color: var(--primary);
            }
        }

        .circle {
            position: absolute;
            width: 1rem;
            height: 1rem;
            border-radius: 9999px;
            transition: transform 0.2s ease;
            background-color: var(--card, white);
            pointer-events: none;
        }
    }

    .authButtons {
        list-style: none;
        display: flex;
        gap: 0.5rem;

        li {
            display: flex;

            a {
                gap: 0.375rem;
                padding: 0.6rem 0.75rem;
                font-size: 0.775rem;
                font-weight: 600;
                border-radius: 0.5rem;
                transition: all 0.2s ease;
                text-decoration: none;
                border: 1px solid transparent;
                cursor: pointer;
            }
        }

        .login {
            a {
                background-color: var(--background);
                color: var(--secondary);
                border: 1px solid var(--warm-orange);

                &:hover {
                    background-color: #404041;
                }

                [data-theme="dark"] & {
                    &:hover {
                        background-color: rgba(255, 255, 255, 0.08);
                    }
                }
            }
        }

        .register {
            a {
                color: var(--secondary);
                background-color: var(--warm-orange);
                border: none;
                transition: background-color 0.4s ease;

                &:hover {
                    background-color: var(--earth-brown);
                    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
                }
            }
        }
    }
}
