.actions {
    display: flex;
    align-items: center;
    gap: 1rem;

    .loggedButtons {
        list-style: none;
        display: flex;

        li {
            display: flex;
        }

        .user {
            background: transparent;
            border: 1px solid #d4a57433;
            color: var(--secondary);
            display: flex;
            align-items: center;
            padding: 0.5rem;
            font-weight: 600;
            border-radius: 2rem;
            transition: all 0.2s ease;
            cursor: pointer;

            span {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: .875rem;
                height: 1.93rem;
                width: 1.93rem;
                background: var(--linear-gradient);
                border-radius: 100%;
                border: 2px solid rgba(0, 0, 0, 0.6);
            }

            svg {
                height: 1rem;
                color: var(--warm-orange);
            }

            &:hover {
                background: #352e2680;
            }
        }
    }

    @media (max-width: 1024px) {
        order: 2;
        flex-direction: column;
        align-items: start;
        padding-left: 1rem;

        &>span {
            font-size: 0.8rem;
            color: var(--muted-foreground);
            font-weight: 600;
        }
    }
}